.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #fdf103;
}
.title span {
  color: #ff04e2;
}

@media (max-width: 991.98px) {
  .title {
    font-size: 52px;
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 45px;
  }
}
/* ------------------------- */
.button{
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  padding: 10px 32px;
  color: #000000;
  background-color: #bb05c8;
  border-radius: 24px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: rgba(211, 2, 222, 0.75);
}
.button_dark{
  background-color: rgba(70, 57, 57, 0.75);
}
.button_dark:hover,
.button_dark.active {
  background-color: #00ADB5;
}
/* ------------------------- */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social__link {
  background-color: #393E46;
  flex: 0 0 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.social__link:hover {
  background-color: #454b54;
}