.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  background-color: #212121;
  z-index: 150;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu__link {
    width: 130px;
    height: 40px;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 800;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: rgba(214, 48, 214, 0.5);
    text-align: center;
    justify-content: center;

}

.menu__link {
  border: 40px;
  z-index: 1;
  
}
.menu__link:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #fc3dff;
  border-radius: 10px;
  box-shadow:inset 2px 2px 2px 0px rgba(195, 7, 233, 0.5);
  transition: all 0.3s ease;
}

.menu__link:hover {
  color: #000000;
  
}

.menu__link:hover:after {
  left: 0;
  width: 100%;
  
}

.menu__link:active {
  top: 2px;
}


.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 3px;
  align-items: center;
  /*background: linear-gradient(to right, blue, purple);
  padding: 3px;
  border-radius: 10px;
  border: 1px solid black;*/
}

@media (max-width: 500px) {
  .header__container {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
  }
  .menu__list {
    column-gap: 20px;
  }
}

